/*

Category

*/
/*

Product Mini

*/
.rt-shop-product-mini { width: 190px;float:left;margin-right:10px;position:relative;margin-bottom:10px;}
.sfWebDebugActionCache .rt-shop-product-mini {margin-right:9px;}
.rt-list-item-3 .rt-shop-product-mini, .rt-list-item-6 .rt-shop-product-mini, .rt-list-item-9 .rt-shop-product-mini, .rt-list-item-12 .rt-shop-product-mini, .rt-list-item-15 .rt-shop-product-mini {margin-right:0;}
.rt-shop-product-mini div.rt-shop-product-mini-image { width: 190px; height:210px; padding-top:10px; text-align: center; border-bottom:1px solid #ccc;}
.rt-shop-product-mini div.rt-shop-product-mini-details { padding:10px 0 10px 10px; }
.rt-shop-product-mini h3 { font-size:1em; margin-bottom:0; }
.rt-shop-product-mini .rt-shop-product-price {  font-size:1em; margin-bottom:0; }
.rt-shop-product-mini a { text-decoration:none; font-weight: bold; }
span.rt-shop-product-promotion{position:absolute;top:0;right:0;background:orange;color:#fff;padding:4px; -moz-border-radius:5px; -webkit-border-radius:5px;}
/*

Product display

*/
.rt-shop-product-gallery {float:left;width:200px;}
.rt-shop-product-primary-image { height:250px; text-align: center; padding-top:10px;}
.rt-shop-product-image-thumbs div { cursor:pointer; border: 1px solid #CCC;text-align: center;  width:55px;height:75px;float:left;margin-right:5px;margin-bottom:10px; }
.rt-shop-product-image-thumbs img { margin-top:5px; }
.rt-shop-product-details { float:right; width:380px; }
.rt-shop-product-price {font-size:120%;font-weight:bold;}
.rt-shop-item-quantity input {width:50px; margin:0;}
.selectionGroup strong, .rt-shop-item-quantity label {display:block;position:relative; top:0.4em;float:left;width:80px; padding:0;margin:0; }
/*

UI overide

*/
.ui-buttonset {float:left;margin:0;width:400px;}
.ui-buttonset label { border:0; -moz-border-radius:5px; -webkit-border-radius:5px; background-repeat: no-repeat; }
.ui-buttonset label.available { border-color:#FFF; }
.ui-buttonset label.unavailable { border-style: solid; }
.ui-buttonset label.image-swatch { width:30px; height:30px; }
.ui-buttonset label.image-swatch span { width:30px; height:30px;padding:0;margin:0;text-indent:-10000px; }
.ui-buttonset .ui-button { margin:0;}
.ui-buttonset .ui-button span {float:left;-moz-border-radius:5px; -webkit-border-radius:5px; background:url(../images/radio-tick-alt.png) no-repeat 5px 50%; padding-left:25px; }
.ui-buttonset .ui-state-active { border-color: #FFF!important; background:#DADADA; }
.ui-buttonset .ui-state-active span { background:url(../images/radio-tick.png) no-repeat 5px 50%; padding-left:25px; }
.ui-buttonset .image-swatch span { background-position: 50% 50%; padding-left:0; }
.ui-buttonset .ui-state-disabled span { background:url(../images/radio-cross-alt.png) no-repeat 5px 50% #CCC; color:#555; padding-left:20px; }
.ui-buttonset .image-swatch.ui-state-disabled span { background:url(../images/radio-cross-alt.png) no-repeat 50% 50%; padding-left:0; }
.ui-state-default { background-image: none;} 
.ui-helper-hidden-accessible {position:absolute!important;} /*don't remove this important! blueprint overrides otherwise this UI style */
/*

Breadcrumb

*/
.rt-shop-order-breadcrumb {list-style-type:none;background:#E9E9E9;}
.rt-shop-order-breadcrumb li a {text-decoration:none;color:#8E8E8E;}
.rt-shop-order-breadcrumb li.past a, .rt-shop-order-breadcrumb li.past-present a {color:#FFF;}
 .rt-shop-order-breadcrumb li span {color:#000;}
.rt-shop-order-breadcrumb li {background:#E9E9E9 url(../images/arrow-future-future.png) no-repeat scroll 100% 50%;float:left;font-size:0.9em;font-weight:bold;line-height:1.8em;padding:0 18px 0 10px;}
.rt-shop-order-breadcrumb li.here {background-color:#8E8E8E;background-image: url(../images/arrow-present-future.png);}
.rt-shop-order-breadcrumb li.past {background-color:#6C6C6C;background-image: url(../images/arrow-past-past.png);}
.rt-shop-order-breadcrumb li.past-present {background-color:#6C6C6C;background-image: url(../images/arrow-past-present.png);}
.rt-shop-order-breadcrumb li.present {background-color:#8E8E8E;background-image: url(../images/arrow-present.png);}
.rt-shop-order-breadcrumb li.future {background-image: url(../images/arrow-future.png);}