/*

Category

*/
/*

Product Mini

*/
.rt-shop-product-mini { width: 190px;float:left;margin-right:10px;position:relative;margin-bottom:10px;}
.sfWebDebugActionCache .rt-shop-product-mini {margin-right:9px;}
.rt-list-item-3 .rt-shop-product-mini, .rt-list-item-6 .rt-shop-product-mini, .rt-list-item-9 .rt-shop-product-mini, .rt-list-item-12 .rt-shop-product-mini, .rt-list-item-15 .rt-shop-product-mini {margin-right:0;}
.rt-shop-product-mini div.rt-shop-product-mini-image { width: 190px; height:210px; padding-top:10px; text-align: center; border-bottom:1px solid #ccc;}
.rt-shop-product-mini div.rt-shop-product-mini-details { padding:10px 0 10px 10px; }
.rt-shop-product-mini h3 { font-size:1em; margin-bottom:0; }
.rt-shop-product-mini .rt-shop-product-price {  font-size:1em; margin-bottom:0; }
.rt-shop-product-mini a { text-decoration:none; font-weight: bold; }
span.rt-shop-product-promotion{position:absolute;top:0;right:0;background:orange;color:#fff;padding:4px; -moz-border-radius:5px; -webkit-border-radius:5px;}
/*

Product display

*/
.rt-shop-product-gallery {float:left;position:relative;width:200px;}
.rt-shop-product-primary-image { height:250px; text-align: center; padding-top:10px;width:200px;}
.rt-shop-product-image-thumbs div {border:1px solid #CCC;cursor:pointer;float:left;margin-bottom:10px;margin-right:5px;}
.rt-shop-product-image-thumbs span {display:table-cell;height:75px;text-align:center;vertical-align:middle;width:55px;}
.rt-shop-product-details { float:right; width:380px; }
.rt-shop-product-price {font-size:120%;font-weight:bold;}
.rt-shop-item-quantity input {width:50px; margin:0;}
.selectionGroup strong, .rt-shop-item-quantity label {display:block;position:relative; top:0.4em;float:left;width:100px; padding:0;margin:0; }
/*

UI overide

*/
.ui-buttonset {float:left;margin:0;width:370px;}
.ui-buttonset label { border:2px solid #FFF;-moz-border-radius:5px; -webkit-border-radius:5px; background-repeat: no-repeat; }
.ui-buttonset label.image-swatch {background-repeat:no-repeat !important;}
.ui-buttonset label.image-swatch span {background-color:#E6E6E6;margin:0 0 0 30px;padding-left:6px;-webkit-border-top-left-radius:0;-webkit-border-bottom-left-radius:0;-moz-border-radius-topleft:0;-moz-border-radius-bottomleft:0;}
.ui-buttonset .ui-state-active {border:2px solid #7d7d7d;}
.ui-button-text-only .ui-button-text {padding:0.28em 1em;}
.ui-buttonset .ui-button { margin:0;}
.ui-buttonset .ui-button span {float:left;-moz-border-radius:5px; -webkit-border-radius:5px;}
.ui-buttonset .ui-state-active {background:#DADADA;}
.ui-buttonset .image-swatch span { background-position: 50% 50%; padding-left:0; }
.ui-buttonset label.ui-state-disabled {color:#555;display:none!important;}
.ui-buttonset label.ui-state-disabled span {display:none;}
.ui-state-default { background-image: none;} 
.ui-helper-hidden-accessible {position:absolute!important;} /*don't remove this important! blueprint overrides otherwise this UI style */
/*

Breadcrumb

*/
.rt-shop-order-breadcrumb {list-style-type:none;background:#E9E9E9;margin-right:0;}
.rt-shop-order-breadcrumb li a {text-decoration:none;color:#8E8E8E;}
.rt-shop-order-breadcrumb li.past a {color:#FFF;}
 .rt-shop-order-breadcrumb li {color:#999;}
.rt-shop-order-breadcrumb li {background-color: #E9E9E9;background-repeat: no-repeat; background-position: 100% 50%; background-image: url(../images/arrow-default.png);float:left;font-size:0.9em;font-weight:bold;line-height:1.8em;padding:0 18px 0 10px;}
.rt-shop-order-breadcrumb li.here {color:#CCC;background-color:#6C6C6C;background-image: url(../images/arrow-here.png);}
.rt-shop-order-breadcrumb li.past {background-color:#6C6C6C;background-image: url(../images/arrow-past.png);}